<% include ./partials/header %>
<% include ./navbar %>
<div class="container-fluid">
  <h1 class="jumbotron">Welcome <%= user.firmName %></h1>
  <div class="container">
    <div class="row">

      <div class="col-md-4 panel panel-default">
        <hr>
        <div>
          <img src="/imgs/view.jpeg" alt="" height="300" width="100%">
        </div>
        <hr>
        <div class="panel-body">
          <p>
            <strong>Keep track of all your invoices!</strong>
          </p>
          <a href="/bills" class="btn btn-primary">View Invoices</a>
        </div>
      </div>


      <div class="col-md-4 panel panel-default">
        <hr>
        <div>
          <img src="/imgs/create.jpeg" alt="" height="300" width="100%">
        </div>
        <hr>
        <div class="panel-body">
          <p><strong class="">Create a new bill without hassles!</strong></p>
          <a href="/bills/new" class="btn btn-success">Create Invoice</a>
        </div>
      </div>


      <div class="col-md-4 panel panel-default">
        <hr>
        <div>
          <img src="/imgs/edit.png" alt="" height="300" width="100%">
        </div>
        <hr>
        <div class="panel-body">
          <p><strong class="">Edit Billing/Profile Info</strong></p>
          <a href="/users/<%= user._id %>/edit" class="btn btn-warning">Edit Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
