<% include ./partials/header %>
</head>
<body>
<% include ./navbar %>

<div class="text-center">
    <div class="container-fluid jumbotron">
        <br>
        <br>
        <h1 class="text-large center-block" title="Winch">Winch</h1>
        <p class="center-block">Winch is an online GST ready billing management system that lets you generate invoices from anywhere!</p>
    </div>
</div>

<br><br><br>
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <a href="/register" class="btn btn-lg btn-success pull-right" title="Register">Register for free</a>
        </div>
        <div class="col-md-6 pull-left">
            <a href="/login" class="btn btn-lg btn-primary pull-left" title="Login">Already Registered?</a>
        </div>  
    </div>
</div>
<% include ./partials/footer %>