<% include ./partials/header%>
<title>Register for Winch</title>
<style>


/**
 * style input elements that have a required
 * attribute and a focus state
 */
.required {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}
</style>
</head>
<body>
<% include ./navbar %>
<h1 class="jumbotron text-center">Sign Up for Winch</h1>

<div class="container center-block">
  <div class="container alert alert-danger center-block text-center" style="display:<%= display %>">
    <h4><strong><%= error %></strong></h4>
  </div>
  <form action="/register" method="POST" onsubmit="return validate()" id="signup">

    <div id="Login Details" class="container">
      <div class="col-md-3"></div>

<div class="col-md-6">
        <!-- heading for login details -->
        <div class="row">
          <div class="">
            <h4 class="lead text-center bg-info" style="width: 25%;">Login Details</h4>
          </div>
        </div>
        <!-- Field for email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="user[email]" class="form-control" id="email" placeholder="Email" required>
        </div>
        <!-- Field for passsword -->
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" name="user[password]" class="form-control" id="password" placeholder="Password" required>
        </div>
        <!-- field for confirming password -->
        <div class="form-group">
          <label for="confirmPasss">Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
        </div>
</div>

      <div class="col-md-3"></div>

    </div>

    <hr>

    <div id="companyDetails">

      <!-- heading for company details -->
      <div class="row">
        <div class="col-md-6">
          <h4 class="lead text-center bg-info" style="width: 40%;"> Company/Firm Details</h4>
        </div>
      </div>

      <!-- company detail fields -->
      <div class="row">

        <!-- 1st column -->
        <div class="col-md-6">

          <!-- company Name -->
          <div class="form-group">
            <label for="company_name">Company Name</label>
            <input type="text" name="user[firmName]" class="form-control" id="companyName" placeholder="Company Name" required>
          </div>

          <!-- company phone and GSTIN fields in a single row -->
          <div class="form-group">
            <div class="row">

              <!-- phone no. field -->
              <span class="col-md-7 col-sm-12">
                <label for="phone">Company Phone</label>
                <br>
                <input type="text" class="btn btn-disabled" value="+91" size="1" disabled>
                <span style="display: inline-block;">
                  <input type="text" name="user[phone]" class="form-control" id="phone" placeholder="Phone Number" required>
                </span>
              </span>

              <!-- GSTIN field -->
              <span class="col-md-5 col-sm-12">
                <label for="gstin">GSTIN</label>
                <span style="display: inline-block;">
                  <input type="text" name="user[gstin]" class="form-control" size="16" id="gstin" placeholder="GSTIN" required>
                </span>
              </span>

            </div>
          </div>

          <!-- company website -->
          <div class="form-group">
            <label for="website">Company Website</label>
            <input type="text" name="user[website]" class="form-control" id="website" placeholder="Website">
          </div>

        </div>

        <!-- 2nd column -->
        <div class="col-md-6">

          <!-- address field -->
          <div class="form-group">
            <label for="address">Address</label>
            <!-- <textarea form="signup" name="address" class="form-control" id="address" required></textarea> -->
            <input type="text" name="user[address]" class="form-control" id="address" placeholder="Address" required>
          </div>

          <!-- city -->
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="user[city]" class="form-control" id="city" placeholder="City" required>
          </div>

          <!-- select menu for states. the list of states is obtained via the states array sent through app.js -->
          <label for="state">State</label>
          <select name="user[state]" id="state" class="form-control">
            <option>Select State</option>
            <% states.forEach( (state) => { %>
              <option value="<%= state.name%>"><strong><%= state.name %></strong></option>
            <% }) %>
          </select>

          <br>
          <!-- putting pincode and logo file iput fields in 2 different colums of one row -->
          <div class="row">

            <!-- field for pincode -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="pincode">Pin Code</label>
                <input type="text" name="user[pincode]" class="form-control" id="pincode" placeholder="Pin Code" required>
              </div>
            </div>

            <!-- for choosing company logo -->
            <div class="col-md-6">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" name="country" class="form-control" id="dummyCountry" value="INDIA" placeholder="country" disabled>
                </div>
              </div>
              <input type="hidden" name="user[country]" class="form-control" id="country" value="INDIA" placeholder="country">
              

          </div>

        </div>
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-success  btn-lg center-block" value="submit">
  </form>
</div>

<script>
  document.getElementById("register").className = "active";
  function validate() {
    let password = document.getElementById("password");
    let confirmPassword = document.getElementById("confirmPassword");
    let companyName = document.getElementById("companyName");
    let phone = document.getElementById("phone");
    let gstin = document.getElementById("gstin");
    let website = document.getElementById("website");
    let address = document.getElementById("address");
    let city = document.getElementById("city");
    let state = document.getElementById("state");
    let pincode = document.getElementById("pincode");
    if(password.value != confirmPassword.value){
      alert("Passwords don't match.");
      password.focus();
      return false;
    }
    if(password.value.length < 4){
      alert("Password to short.");
      password.focus();
      return false;
    }
    if(companyName.value.length > 30){
      alert("Company name should not be more than 40 characters");
      companyName.focus();
      return false;
    }
    if(phone.value.length != 10 || isNaN(phone.value) ){
      alert("Invalid phone.");
      phone.focus();
      return false;
    }
    if(gstin.value.length != 15){
      alert("Invalid GSTIN.");
      gstin.focus();
      return false;
    }
    let websiteExpression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
    if(!website.value.match(websiteExpression)){
      if(website.value != ""){
        alert("Invalid website.");
        website.focus();
        return false;
      }
    }
    if(address.length < 3){
      alert("Address too short");
      address.focus();
      return false;
    }
    if(!isNaN(city.value) || city.value.length > 20 || city.value.length < 3){
      alert("Invalid city name.")
      city.focus();
      return false;
    }
    if(state.value == "Select State"){
      alert("Please select a valid State");
      state.focus();
      return false;
    }
    if(pincode.value.length != 6 || isNaN(pincode.value)){
      alert("Pincode Invalid");
      pincode.focus();
      return false;
    }
    return true;
  }
</script>


<% include ./partials/footer%>