<% include ./partials/header%>
<% include ./navbar %>
<h1 class="jumbotron text-center">Sign Up for Winch</h1>

<div class="container center-block">
  <div class="container alert alert-danger center-block text-center" style="display:<%= display %>">
    <h4><strong><%= error %></strong></h4>
  </div>
  <form action="/register" method="POST" id="signup">

    <div id="Login Details" class="container">
      <div class="col-md-3"></div>

<div class="col-md-6">
        <!-- heading for login details -->
        <div class="row">
          <div class="">
            <h4 class="lead text-center bg-info" style="width: 25%;">Login Details</h4>
          </div>
        </div>
        <!-- Field for email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="user[email]" class="form-control" id="email" placeholder="Email" required>
        </div>
        <!-- Field for passsword -->
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" name="user[password]" class="form-control" id="password" placeholder="Password" required>
        </div>
        <!-- field for confirming password -->
        <div class="form-group">
          <label for="confirmPasss">Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
        </div>
</div>

      <div class="col-md-3"></div>

    </div>

    <hr>

    <div id="companyDetails">

      <!-- heading for company details -->
      <div class="row">
        <div class="col-md-6">
          <h4 class="lead text-center bg-info" style="width: 40%;"> Company/Firm Details</h4>
        </div>
      </div>

      <!-- company detail fields -->
      <div class="row">

        <!-- 1st column -->
        <div class="col-md-6">

          <!-- company Name -->
          <div class="form-group">
            <label for="company_name">Company Name</label>
            <input type="text" name="user[firmName]" class="form-control" id="companyName" placeholder="Company Name" required>
          </div>

          <!-- company email -->
          <!-- <div class="form-group">
            <label for="email">Company Email</label>
            <input type="email" name="confirmEmail" class="form-control" id="confirmEmail" placeholder="Email" required>
          </div> -->

          <!-- company phone and GSTIN fields in a single row -->
          <div class="form-group">
            <div class="row">

              <!-- phone no. field -->
              <span class="col-md-7 col-sm-12">
                <label for="phone">Company Phone</label>
                <br>
                <input type="text" class="btn btn-disabled" value="+91" size="1" disabled>
                <span style="display: inline-block;">
                  <input type="text" name="user[phone]" class="form-control" id="phone" placeholder="Phone Number" required>
                </span>
              </span>

              <!-- GSTIN field -->
              <span class="col-md-5 col-sm-12">
                <label for="gstin">GSTIN</label>
                <span style="display: inline-block;">
                  <input type="text" name="user[gstin]" class="form-control" size="16" id="gstin" placeholder="GSTIN" required>
                </span>
              </span>

            </div>
          </div>

          <!-- company website -->
          <div class="form-group">
            <label for="website">Company Website</label>
            <input type="text" name="user[website]" class="form-control" id="website" placeholder="Website" required>
          </div>

        </div>

        <!-- 2nd column -->
        <div class="col-md-6">

          <!-- address field -->
          <div class="form-group">
            <label for="address">Address</label>
            <!-- <textarea form="signup" name="address" class="form-control" id="address" required></textarea> -->
            <input type="text" name="user[address]" class="form-control" id="address" placeholder="Address">
          </div>

          <!-- city -->
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="user[city]" class="form-control" id="city" placeholder="City" required>
          </div>

          <!-- select menu for states. the list of states is obtained via the states array sent through app.js -->
          <label for="state">State</label>
          <select name="user[state]" id="state" class="form-control">
            <option>Select State</option>
            <% states.forEach( (state) => { %>
              <option value="<%= state.name%>"><strong><%= state.name %></strong></option>
            <% }) %>
          </select>

          <br>
          <!-- putting pincode and logo file iput fields in 2 different colums of one row -->
          <div class="row">

            <!-- field for pincode -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="pincode">Pin Code</label>
                <input type="text" name="user[pincode]" class="form-control" id="pincode" placeholder="Pin Code" required>
              </div>
            </div>

            <!-- for choosing company logo -->
            <div class="col-md-6">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" name="country" class="form-control" id="dummyCountry" value="INDIA" placeholder="country" disabled>
                </div>
              </div>
              <input type="hidden" name="user[country]" class="form-control" id="country" value="INDIA" placeholder="country">
              

          </div>

        </div>
      </div>
    </div>

    <br>
    <input type="submit" class="btn btn-success  btn-lg center-block" value="submit">
  </form>
</div>


<% include ./partials/footer%>