html { 
  height: 100%;
  overflow:auto;
}
body {
  height: 100%;
}

  /* .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  } */

  .content {
    padding-top : 121px;
    width : 100%;
    display: inline-block;
}
.footer {
    position: fixed;
    width: 100%;
    height : 60px;
    background-color: #efefef;
    display: inline-block;
}
