<% include ../partials/header.ejs %>

<!-- <%= bill %> -->
<div class="container">
  <!-- <div class="row">
    <div class="col-md-6 well">
      <strong>Billed From</strong>
      <ul style="list-style-type:none">
        <li>
          <label for="senderName">Name</label>
          <strong id="senderName"><%= bill.sender.firmName %></strong>
        </li>
      </ul>
    </div>
    <div class="col-md-6 well"> <strong>Billed To</strong></div>
  </div> -->
  <a href="javascript:genPDF">Generate</a>
</div>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script>
  function genPDF() {
    let doc = new jsPDF();
    doc.text(20, 20, 'Test Message!');
    doc.addPage();
    doc.text(20, 20, 'Test Page 2!');
    doc.save('test.Pdf');
  }
</script>
<% include ../partials/footer.ejs %>