<% include ../partials/header.ejs %>

<%= bill %>
<div class="container">
  <div class="row">
    <div class="col-md-6 well"><strong>Billed From</strong></div>
    <div class="col-md-6 well"> <strong>Billed To</strong></div>
  </div>
</div>

<% include ../partials/footer.ejs %>